<% if current_admin %>
    <%= form_for [:admin, :member, @regular] do |form| %>
        <table class="list">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>個数</th>
                </tr>
            </thead>
            <tbody>
                <% item_id = @regular.item_id%>
                <td><%= Item.find(item_id).item_name %></td>
                <td><%= text_field_tag :regular_quantity, @regular.regular_quantity %></td>
            </tbody>
        </table>

        <%= form.submit "更新" %>
    <% end %>
<% end %>