<% @message = "おひさまーと☀️" %>
<h1><%= @message %></h1>
<% @page_title = "ログインが必要です" %>
<h1><%= @page_title %></h1>
<nav class="menubar">
    <ul>
        <%= render "shared/login_form" %>
    </ul>
</nav>